In [24]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('./chromedriver')

url = 'https://www.bloomberg.com/graphics/covid-vaccine-tracker-global-distribution/'
driver.get(url)

In [25]:
import time
time.sleep(3)

In [26]:
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
# //*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button
sel_more1 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more1.click()
time.sleep(1)

In [27]:
# //*[@id="dvz-table-usa-vaccination"]/div[2]/div[2]/button
sel_more2 = driver.find_element_by_xpath('//*[@id="dvz-table-global-vaccination"]/div[2]/div[2]/button')
sel_more2.click()

In [28]:
all_data = []

for i in range(1, 7, 1):
    data_col = []
    xpath = '//*[@id="dvz-table-global-vaccination"]/div[2]/div[1]/table/tbody/tr/td[%s]' % str(i) 
    sel_data = driver.find_elements_by_xpath(xpath)
    
    for dat in sel_data:
        #print(dat)
        data_col.append(dat.text)
    print(data_col)
    all_data.append(data_col)

['Global Total', 'Mainland China', 'India', 'EU', 'U.S.', 'Brazil', 'Japan', 'Indonesia', 'Turkey', 'Germany', 'Mexico', 'France', 'U.K.', '', '', '', '', '', 'Russia', 'Italy', 'Pakistan', 'Spain', 'South Korea', 'Canada', '', '', '', '', '', '', '', '', '', '', '', '', '', 'Argentina', 'Thailand', 'Philippines', 'Iran', 'Malaysia', 'Saudi Arabia', 'Bangladesh', 'Morocco', 'Colombia', 'Vietnam', 'Poland', 'Chile', 'Australia', 'Sri Lanka', 'Peru', 'Cambodia', 'Netherlands', 'Ecuador', 'Cuba', 'UAE', 'Uzbekistan', 'Ukraine', 'South Africa', 'Belgium', 'Portugal', 'Egypt', 'Israel', 'Taiwan', 'Algeria', 'Venezuela', 'Kazakhstan', 'Sweden', 'Nepal', 'Greece', 'Dominican Republic', 'Czech Republic', 'Hungary', 'Austria', 'Switzerland', '', 'Romania', 'Singapore', 'Myanmar', 'Denmark', 'Hong Kong', 'Azerbaijan', 'Norway', 'Finland', 'Iraq', 'Tunisia', 'El Salvador', 'Ireland', 'Jordan', 'Guatemala', 'Bolivia', 'Nigeria', 'Serbia', 'Uruguay', 'Panama', 'Costa Rica', 'Zimbabwe', 'Honduras', 'New Zealand', 'Oman', 'Slovakia', 'Qatar', 'Mongolia', 'Paraguay', 'Laos', 'Tajikistan', 'Rwanda', 'Mozambique', 'Kenya', 'Ethiopia', 'Croatia', 'Belarus', 'Lithuania', 'Angola', 'Afghanistan', 'Lebanon', 'Bahrain', 'Bulgaria', 'Kuwait', 'Slovenia', 'Uganda', 'Ivory Coast', 'Senegal', 'Georgia', 'Albania', 'Guinea', 'Ghana', 'Sudan', 'Mauritius', 'Latvia', 'Libya', 'North Macedonia', 'Kyrgyzstan', 'Moldova', 'Estonia', 'Kosovo', 'Cyprus', 'Malawi', 'Bhutan', 'Bosnia and Herzegovina', 'Trinidad and Tobago', 'Togo', 'Fiji', 'Mauritania', 'Malta', 'Nicaragua', 'Luxembourg', 'Jamaica', 'Maldives', 'Zambia', 'Timor-Leste', 'Macau', 'Niger', 'Botswana', 'Iceland', 'Guyana', 'Syria', 'Somalia', 'Cameroon', 'Montenegro', 'Brunei', 'Madagascar', 'Cape Verde', 'Armenia', 'Namibia', 'Mali', 'Suriname', 'Tanzania', 'Equatorial Guinea', 'Comoros', 'Lesotho', 'Republic of the Congo', 'Yemen', 'Belize', 'Liberia', 'Burkina Faso', 'Eswatini', 'Barbados', 'Sierra Leone', 'Benin', 'Gambia', 'Central African Republic', 'Curaçao', 'Bahamas', 'Gabon', 'Papua New Guinea', 'Aruba', 'Jersey', 'Samoa', 'Seychelles', 'Chad', 'DR Congo', 'Isle of Man', 'Cayman Islands', 'South Sudan', 'Greenland', 'Guernsey', 'Solomon Islands', 'Andorra', 'Guinea-Bissau', 'Antigua and Barbuda', 'Bermuda', 'Sao Tome and Principe', 'Gibraltar', 'St. Lucia', 'Faroe Islands', 'Tonga', 'Micronesia', 'Djibouti', 'Haiti', 'Grenada', 'Turks & Caicos', 'Monaco', 'Sint Maarten', 'Saint Kitts and Nevis', 'San Marino', 'Dominica', 'Turkmenistan', 'St. Vincent and the Grenadines', 'Anguilla', 'Nauru', 'St. Helena', 'Falkland Islands', 'Montserrat', 'Eritrea']
['6,199,443,468', '2,203,185,000', '876,538,633', '564,029,956', '391,152,574', '233,261,963', '161,057,159', '139,232,210', '108,761,681', '107,197,993', '99,366,403', '94,250,528', '93,565,474', '', '', '', '', '', '89,865,316', '84,351,559', '79,533,208', '69,936,755', '62,462,921', '56,036,106', '', '', '', '', '', '', '', '', '', '', '', '', '', '51,222,138', '46,023,016', '44,361,285', '43,372,270', '43,028,919', '41,886,224', '41,466,455', '40,273,386', '39,701,907', '39,232,772', '37,158,644', '31,553,676', '27,109,766', '26,096,107', '25,912,376', '23,830,570', '23,540,559', '20,571,335', '20,298,170', '19,963,359', '18,526,941', '17,867,953', '17,176,603', '16,644,129', '15,950,862', '15,057,720', '14,970,627', '14,763,330', '14,082,920', '14,050,000', '14,013,701', '13,703,515', '13,166,598', '12,088,975', '11,828,826', '11,788,930', '11,167,215', '10,802,266', '10,358,035', '', '10,114,580', '9,306,870', '9,001,616', '8,815,419', '8,622,733', '8,350,575', '7,757,255', '7,523,959', '7,448,300', '7,425,277', '7,396,969', '7,200,652', '6,960,192', '6,757,605', '6,700,654', '6,552,979', '6,409,263', '6,214,949', '5,367,816', '5,278,479', '5,263,782', '5,196,072', '5,087,231', '4,946,987', '4,762,272', '4,702,517', '4,545,348', '4,488,153', '4,402,770', '3,872,421', '3,740,279', '3,644,423', '3,613,357', '3,535,329', '3,413,174', '3,389,520', '3,199,916', '3,134,137', '3,133,227', '2,929,966', '2,568,320', '2,521,738', '2,380,000', '2,113,404', '2,058,553', '1,968,171', '1,784,832', '1,760,878', '1,715,133', '1,699,898', '1,653,422', '1,650,828', '1,633,952', '1,621,953', '1,546,967', '1,495,762', '1,422,970', '1,392,707', '1,361,564', '1,283,840', '1,147,010', '1,087,426', '1,068,414', '1,060,145', '1,047,111', '997,632', '975,268', '890,122', '818,593', '788,502', '784,482', '743,184', '727,664', '711,264', '675,891', '649,564', '621,853', '606,699', '551,110', '538,748', '533,949', '464,359', '461,201', '452,830', '443,676', '417,648', '414,300', '408,535', '407,502', '405,053', '394,029', '389,807', '387,510', '336,863', '332,954', '329,905', '322,934', '304,218', '284,246', '254,545', '240,002', '234,124', '232,375', '226,269', '207,195', '187,160', '186,793', '184,461', '180,320', '164,776', '155,753', '150,891', '149,431', '148,402', '142,548', '134,945', '129,318', '110,096', '103,751', '102,357', '101,898', '97,744', '95,918', '94,715', '89,252', '86,676', '82,679', '79,502', '76,224', '74,129', '73,603', '72,085', '67,229', '64,799', '55,663', '52,374', '49,980', '49,310', '47,098', '47,088', '44,624', '41,993', '33,077', '18,584', '14,863', '7,892', '4,407', '2,871', '–']
['–', '78.7', '32.0', '63.5', '61.1', '56.5', '63.8', '26.1', '65.4', '64.5', '38.9', '72.7', '70.0', '', '', '', '', '', '30.6', '69.9', '19.4', '75.2', '60.4', '74.7', '', '', '', '', '', '', '', '', '', '', '', '', '', '57.0', '33.1', '20.7', '26.0', '66.0', '61.4', '12.4', '56.6', '39.4', '20.3', '48.9', '82.6', '53.1', '59.8', '39.1', '72.2', '68.3', '59.6', '89.6', '92.9', '27.9', '21.4', '16.4', '72.6', '77.6', '7.6', '82.7', '31.3', '16.2', '25.3', '37.6', '66.3', '23.1', '56.4', '57.1', '55.3', '57.1', '61.0', '60.6', '', '26.1', '81.6', '8.5', '75.9', '57.3', '41.8', '72.4', '68.2', '9.5', '31.5', '57.3', '72.7', '34.6', '19.2', '29.0', '1.6', '46.0', '88.3', '63.6', '52.0', '17.7', '26.6', '51.6', '59.0', '43.7', '84.1', '68.9', '31.4', '30.7', '20.8', '15.1', '5.8', '3.8', '1.8', '42.0', '17.9', '57.5', '5.2', '4.2', '21.4', '86.5', '18.1', '25.1', '52.1', '2.6', '3.7', '5.5', '23.6', '29.9', '6.2', '2.7', '1.9', '64.5', '42.2', '11.8', '36.0', '11.1', '26.0', '51.4', '35.7', '65.5', '2.7', '71.7', '16.1', '37.5', '6.2', '54.5', '11.0', '82.9', '6.0', '63.9', '13.6', '97.8', '1.9', '26.1', '47.8', '1.3', '12.8', '77.2', '34.3', '–', '1.5', '0.9', '36.3', '48.2', '0.8', '37.7', '6.9', '8.3', '1.1', '33.0', '0.3', '14.2', '19.3', '8.1', '3.6', '0.5', '37.3', '3.1', '0.6', '10.8', '40.8', '1.5', '1.0', '4.4', '2.0', '57.3', '24.2', '4.3', '1.0', '69.5', '–', '37.2', '77.3', '0.4', '0.1', '76.1', '84.7', '0.4', '89.8', '–', '7.6', '62.3', '2.7', '46.0', '68.8', '19.4', '116.9', '21.2', '75.6', '36.8', '34.7', '3.1', '0.3', '25.5', '68.9', '64.1', '58.7', '41.3', '69.2', '31.4', '0.4', '15.0', '61.9', '57.2', '65.8', '73.5', '28.7', '–']
['–', '78.6', '46.7', '67.3', '64.4', '71.3', '69.5', '32.9', '64.5', '67.9', '49.8', '77.4', '73.0', '', '', '', '', '', '32.6', '74.5', '28.3', '81.0', '74.5', '76.2', '', '', '', '', '', '', '', '', '', '', '', '', '', '65.7', '42.4', '23.5', '35.5', '70.6', '68.4', '14.9', '61.6', '51.4', '32.1', '52.1', '78.5', '63.1', '66.0', '46.7', '79.6', '70.3', '64.2', '79.8', '85.9', '29.4', '29.6', '20.7', '74.8', '86.9', '9.7', '67.3', '53.2', '13.9', '31.6', '40.4', '69.2', '23.9', '59.9', '58.2', '57.0', '60.2', '64.5', '64.3', '', '28.2', '82.1', '10.5', '76.7', '59.5', '47.2', '77.2', '74.8', '11.7', '40.5', '62.8', '76.1', '36.6', '24.9', '36.8', '2.3', '43.4', '77.7', '69.7', '64.5', '20.5', '32.8', '66.0', '69.1', '44.8', '84.4', '68.3', '36.7', '39.1', '24.8', '16.9', '6.1', '5.7', '2.9', '44.5', '19.8', '62.5', '7.1', '2.6', '23.5', '78.4', '17.3', '56.2', '54.1', '4.1', '5.6', '7.6', '26.2', '32.7', '8.5', '2.9', '1.5', '66.8', '47.4', '20.7', '37.6', '12.7', '22.9', '57.0', '43.3', '67.9', '3.9', '77.1', '19.2', '41.5', '7.4', '65.7', '7.9', '85.1', '7.7', '68.1', '19.3', '105.3', '1.8', '32.8', '51.2', '1.7', '17.2', '78.8', '45.2', '–', '1.7', '1.5', '38.6', '58.7', '0.7', '51.7', '8.9', '10.5', '1.7', '37.8', '–', '16.4', '20.0', '12.2', '4.7', '1.0', '47.6', '2.3', '1.2', '18.7', '46.1', '2.4', '1.3', '7.8', '3.0', '60.0', '30.0', '4.9', '1.4', '72.5', '–', '49.3', '80.5', '0.7', '0.1', '77.0', '84.7', '0.6', '124.5', '–', '11.6', '68.7', '4.9', '50.1', '69.6', '28.4', '117.4', '25.0', '77.7', '46.1', '41.6', '3.8', '0.4', '30.4', '72.2', '68.4', '61.2', '44.2', '71.8', '33.3', '0.6', '18.2', '63.3', '58.6', '72.7', '87.7', '29.7', '–']

['–', '73.0', '16.8', '64.7', '55.8', '41.9', '58.2', '18.4', '53.0', '64.2', '35.0', '74.6', '67.1', '', '', '', '', '', '28.5', '74.5', '13.4', '78.5', '46.3', '70.6', '', '', '', '', '', '', '', '', '', '', '', '', '', '48.3', '22.8', '19.2', '16.8', '60.7', '54.4', '10.0', '51.6', '32.8', '8.6', '51.1', '73.8', '41.9', '53.3', '31.1', '66.0', '63.6', '57.0', '43.6', '76.1', '11.1', '13.2', '14.3', '73.2', '84.0', '5.5', '62.1', '9.4', '9.3', '18.9', '34.4', '63.3', '21.7', '56.6', '55.5', '55.8', '57.7', '60.9', '58.3', '', '27.5', '79.2', '6.6', '75.1', '55.2', '36.4', '67.6', '61.6', '7.3', '29.0', '51.6', '74.1', '32.3', '13.1', '28.2', '0.9', '41.4', '72.9', '57.5', '39.5', '14.8', '20.4', '37.2', '48.9', '41.3', '79.4', '64.5', '26.1', '26.7', '16.8', '13.2', '5.6', '1.9', '0.8', '41.7', '16.0', '57.7', '3.3', '1.2', '19.3', '75.0', '19.0', '19.4', '48.1', '1.0', '1.4', '3.5', '21.1', '27.0', '3.9', '2.5', '1.3', '62.2', '43.5', '2.8', '34.3', '9.5', '29.0', '45.7', '28.1', '63.1', '2.4', '66.3', '12.9', '34.4', '5.0', '43.3', '0.5', '85.1', '4.4', '65.1', '8.9', '90.3', '2.1', '19.4', '44.6', '0.4', '9.5', '77.2', '23.4', '–', '1.4', '0.3', '33.7', '37.8', '0.7', '23.7', '4.8', '6.5', '1.2', '28.2', '–', '12.1', '18.5', '11.7', '2.5', '<0.1', '28.2', '0.6', '0.8', '18.1', '35.5', '0.5', '0.2', '7.3', '0.2', '54.6', '18.4', '3.8', '0.5', '66.6', '–', '25.0', '74.1', '0.2', '<0.1', '75.1', '84.7', '0.2', '64.5', '–', '3.6', '55.9', '0.4', '41.9', '68.0', '10.4', '116.4', '17.3', '73.6', '27.5', '–', '2.4', '0.2', '20.7', '65.6', '59.8', '56.2', '38.5', '71.8', '29.6', '0.2', '11.9', '60.6', '55.8', '58.9', '59.2', '27.8', '–']
['29,152,868', '3,171,286', '7,178,901', '1,052,903', '701,422', '1,317,163', '1,134,065', '1,916,012', '381,129', '194,817', '536,693', '229,555', '63,126', '', '', '', '', '', '214,966', '211,345', '670,870', '72,816', '533,067', '105,929', '', '', '', '', '', '', '', '', '', '', '', '', '', '222,650', '640,484', '369,770', '1,368,407', '300,427', '101,318', '504,273', '237,441', '169,329', '621,033', '25,851', '109,701', '285,221', '167,003', '246,687', '213,009', '20,051', '16,381', '270,811', '59,157', '155,946', '157,673', '116,932', '22,185', '23,657', '303,446', '29,290', '202,336', '292,376', '246,316', '56,369', '30,188', '186,712', '22,088', '22,374', '8,874', '5,617', '9,919', '28,480', '', '20,423', '23,733', '163,440', '4,355', '28,497', '53,286', '17,426', '20,879', '110,874', '36,864', '32,549', '9,025', '16,091', '73,439', '33,238', '59,719', '15,790', '20,806', '16,408', '12', '31,282', '46,577', '38,574', '38,813', '6,412', '4,415', '16,573', '9,935', '9,906', '70,941', '54,654', '54,234', '30,756', '50,195', '6,307', '26,145', '21,363', '44,858', '765,279', '28,922', '3,999', '5,780', '12,990', '6,460', '90,201', '33,239', '2,395', '12,798', '8,220', '41,480', '3,330', '21,549', '1,155', '4,283', '11,651', '5,856', '10,359', '3,561', '3,361', '15,384', '1,090', '7,915', '3,185', '7,334', '3,453', '23,544', '9,017', '2,813', '824', '2,155', '592', '4,756', '759', '6,903', '3,941', '4,123', '9,294', '2,729', '1,103', '2,082', '23,498', '9,868', '995', '2,132', '5,261', '5,145', '3,741', '5,965', '4,761', '1,460', '2,208', '5,687', '2,838', '249', '6,246', '1,525', '244', '2,922', '9,467', '8,839', '888', '1,684', '805', '1,696', '357', '212', '276', '210', '1,099', '2,517', '150', '80', '981', '154', '2,785', '432', '30', '685', '996', '300', '45', '2,902', '113', '3,807', '1,048', '60', '2,420', '30', '495', '104', '274', '266', '174', '663', '579', '77', '120', '22', '31', '9', '82', '–', '113', '2', '4', '8', '202', '2', '–']

In [29]:
import pandas as pd

In [30]:
pd.set_option("display.max_rows", 40)

dat_dict = {'국가':all_data[0],
            '백신접종수':all_data[1],
            '백신보유율':all_data[2],
            '1차접종':all_data[3],
            '2차접종':all_data[4],
            '일별접종수':all_data[5]
           }

dat_df = pd.DataFrame(dat_dict)
dat_df

                   국가          백신접종수 백신보유율  1차접종  2차접종       일별접종수
0        Global Total  6,199,443,468     –     –     –  29,152,868
1      Mainland China  2,203,185,000  78.7  78.6  73.0   3,171,286
2               India    876,538,633  32.0  46.7  16.8   7,178,901
3                  EU    564,029,956  63.5  67.3  64.7   1,052,903
4                U.S.    391,152,574  61.1  64.4  55.8     701,422
..                ...            ...   ...   ...   ...         ...
221             Nauru         14,863  57.2  58.6  55.8           4
222        St. Helena          7,892  65.8  72.7  58.9           8
223  Falkland Islands          4,407  73.5  87.7  59.2         202
224        Montserrat          2,871  28.7  29.7  27.8           2
225           Eritrea              –     –     –     –           –

[226 rows x 6 columns]

In [31]:
dat_df['국가'].str.len().unique()

array([12, 14,  5,  2,  4,  6,  9,  7,  0,  8, 11, 10,  3, 18, 15, 22, 19,
       17, 21, 24, 16, 13, 30], dtype=int64)

In [32]:
dat_df.loc[ dat_df['국가'].str.len() > 1, : ]

                   국가          백신접종수 백신보유율  1차접종  2차접종       일별접종수
0        Global Total  6,199,443,468     –     –     –  29,152,868
1      Mainland China  2,203,185,000  78.7  78.6  73.0   3,171,286
2               India    876,538,633  32.0  46.7  16.8   7,178,901
3                  EU    564,029,956  63.5  67.3  64.7   1,052,903
4                U.S.    391,152,574  61.1  64.4  55.8     701,422
..                ...            ...   ...   ...   ...         ...
221             Nauru         14,863  57.2  58.6  55.8           4
222        St. Helena          7,892  65.8  72.7  58.9           8
223  Falkland Islands          4,407  73.5  87.7  59.2         202
224        Montserrat          2,871  28.7  29.7  27.8           2
225           Eritrea              –     –     –     –           –

[207 rows x 6 columns]

In [33]:
dat_df = dat_df.loc[ dat_df['국가'].str.len() >1, : ]

In [34]:
dat_df.shape

(207, 6)

In [35]:
dat_df.loc[dat_df['백신접종수'] == '–']

          국가 백신접종수 백신보유율 1차접종 2차접종 일별접종수
225  Eritrea     –     –    –    –     –

In [36]:
dat_df.loc[dat_df['일별접종수'] == '–']

               국가   백신접종수 백신보유율 1차접종 2차접종 일별접종수
218  Turkmenistan  41,993   0.4  0.6  0.2     –
225       Eritrea       –     –    –    –     –

In [37]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )
    
    dat_df.loc[dat_df[one] == '–', one] = "-999"      # -은 이상치 -999로 치환
    dat_df.loc[dat_df[one] == '<0.1', one] = "0.05"   # <0.1은 0.05로 치환
    
    print("\n")

col name :  국가
0


col name :  백신접종수
1


col name :  백신보유율
5


col name :  1차접종
6


col name :  2차접종
7


col name :  일별접종수
2

C:\Users\hingu\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\hingu\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [38]:
col_all = dat_df.columns
for one in col_all:
    print("col name : ", one)
    print( dat_df.loc[dat_df[one] == '–', one].count() )

col name :  국가
0
col name :  백신접종수
0
col name :  백신보유율
0
col name :  1차접종
0
col name :  2차접종
0
col name :  일별접종수
0

In [39]:
dat_df.head()

               국가          백신접종수 백신보유율  1차접종  2차접종       일별접종수
0    Global Total  6,199,443,468  -999  -999  -999  29,152,868
1  Mainland China  2,203,185,000  78.7  78.6  73.0   3,171,286
2           India    876,538,633  32.0  46.7  16.8   7,178,901
3              EU    564,029,956  63.5  67.3  64.7   1,052,903
4            U.S.    391,152,574  61.1  64.4  55.8     701,422

In [40]:
dat_df['백신접종수'] = dat_df['백신접종수'].str.replace(',', '')
dat_df['일별접종수'] = dat_df['일별접종수'].str.replace(',', '')

<ipython-input-40-c5e4a415480c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_df['백신접종수'] = dat_df['백신접종수'].str.replace(',', '')
<ipython-input-40-c5e4a415480c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_df['일별접종수'] = dat_df['일별접종수'].str.replace(',', '')

In [41]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 225
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      207 non-null    object
 1   백신접종수   207 non-null    object
 2   백신보유율   207 non-null    object
 3   1차접종    207 non-null    object
 4   2차접종    207 non-null    object
 5   일별접종수   207 non-null    object
dtypes: object(6)
memory usage: 11.3+ KB

In [46]:
dat_df.columns = ['국가', '백신접종수', '백신보유율', '1차접종', '2차접종', '일별접종수']

In [47]:
sel_col = ['백신접종수', '백신보유율', '1차접종', '2차접종', '일별접종수']
for one in sel_col:
    print("col name :", one)
    dat_df[one] = dat_df[one].astype('float32')

col name : 백신접종수
col name : 백신보유율
col name : 1차접종
col name : 2차접종
col name : 일별접종수

<ipython-input-47-c55cdcefb8f4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_df[one] = dat_df[one].astype('float32')

In [48]:
dat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 207 entries, 0 to 225
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      207 non-null    object
 1   백신접종수   207 non-null    float32
 2   백신보유율   207 non-null    float32
 3   1차접종    207 non-null    float32
 4   2차접종    207 non-null    float32
 5   일별접종수   207 non-null    float32
dtypes: float32(5), object(1)
memory usage: 7.3+ KB

In [49]:
from datetime import datetime
import os

now = datetime.now()
file_make_time = "%04d%02d%02d_%02d" % (now.year, now.month, now.day, now.hour)
print(now.day - 1)
now_day = now.day
now_hour = now.hour

print( file_make_time )

28
20210929_18

In [50]:
print( os.getcwd() )
path_dir = os.getcwd() + "\\data\\"
path_file = path_dir + file_make_time
print( path_dir,  path_file, sep="\n" )

C:\Users\hingu\jupyter_practice
C:\Users\hingu\jupyter_practice\data\
C:\Users\hingu\jupyter_practice\data\20210929_18

In [51]:
dat_df.to_csv( path_file + "_vaccine_bloomberg.csv", index=False)
dat_df.to_excel( path_file + "_vaccine_bloomberg.xlsx", index=False)
os.listdir(path_dir)

['2021-09-28_corona.csv',
 '2021-09-28_corona.xlsx',
 '20210929_14_vaccine_bloomberg.csv',
 '20210929_18_vaccine_bloomberg.csv',
 '20210929_18_vaccine_bloomberg.xlsx',
 'country.csv']

In [53]:
import pandas as pd

# excel 데이터 셋도 pd.read_excel로 가져올 수 있음.
corona = pd.read_csv("./data/2021-09-28_corona.csv")
vaccine = pd.read_csv("./data/20210929_18_vaccine_bloomberg.csv")
country_code = pd.read_excel("./data/country.xlsx")

corona.shape, vaccine.shape, country_code.shape

((222, 15), (207, 6), (227, 4))

In [55]:
corona.head()

,국가,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,치료중합계,치료중1일,위중증합계,위중증1일,사망자합계,사망자1일,완치합계,완치1일
0,미국🇺🇸,1.6,76.0,133095,331002651,43942335,187382.0,9838383.0,-23963.0,21819.0,-275.0,709119,2781.0,33394833.0,208564.0
1,인도🇮🇳,1.3,97.8,24431,1380004385,33714241,21093.0,289782.0,-7388.0,8944.0,NaN,447699,337.0,32976760.0,28144.0
2,브라질🇧🇷,2.8,95.3,100592,212559417,21366395,14423.0,410502.0,-6613.0,8318.0,NaN,594702,218.0,20361191.0,20818.0
3,영국🇬🇧,1.8,80.7,113959,67886011,7701715,37485.0,1346396.0,3904.0,878.0,-38.0,136208,40.0,6219111.0,33541.0
4,러시아🇷🇺,2.8,88.9,51151,145934462,7464708,21559.0,623692.0,3339.0,2300.0,NaN,205531,852.0,6635485.0,17368.0

In [56]:
vaccine.head()

               국가         백신접종수  백신보유율   1차접종   2차접종       일별접종수
0    Global Total  6.199444e+09 -999.0 -999.0 -999.0  29152868.0
1  Mainland China  2.203185e+09   78.7   78.6   73.0   3171286.0
2           India  8.765386e+08   32.0   46.7   16.8   7178901.0
3              EU  5.640300e+08   63.5   67.3   64.7   1052903.0
4            U.S.  3.911526e+08   61.1   64.4   55.8    701422.0

In [57]:
country_code.head()

  국문(코로나보드) 영문(블룸버그)   나라        비고_뜻
0        가나    Ghana  NaN         NaN
1        가봉    Gabon  NaN         NaN
2      가이아나   Guyana  NaN         NaN
3       감비아   Gambia  NaN         NaN
4      과들루프      NaN  프랑스  Guadeloupe

In [58]:
#코로나 csv 파일에 국가명에 약자가 있는걸 없앰.
corona['국가'].str.extract('([ㄱ-ㅣ가-힣]+)')

          0
0        미국
1        인도
2       브라질
3        영국
4       러시아
..      ...
217      마셜
218    바누아투
219     사모아
220  세인트헬레나
221  미크로네시아

[222 rows x 1 columns]

In [59]:
#약자를 뺀값을 한글표기에 넣음
corona['한글표기'] = corona['국가'].str.extract('([ㄱ-ㅣ가-힣]+)', expand=False)
corona.columns

Index(['국가', '치명(%)', '완치(%)', '발생률', '인구수', '확진자합계', '확진자1일', '치료중합계',
       '치료중1일', '위중증합계', '위중증1일', '사망자합계', '사망자1일', '완치합계', '완치1일', '한글표기'],
      dtype='object')

In [61]:
col = ['국가', '한글표기', '치명(%)', '완치(%)', '발생률', 
       '인구수', '치료중합계','치료중1일','확진자합계', '확진자1일', '사망자합계', '사망자1일', '완치합계', '완치1일']

new_corona = corona[col].copy()
new_corona

,국가,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일
0,미국🇺🇸,미국,1.6,76.0,133095,331002651,9838383.0,-23963.0,43942335,187382.0,709119,2781.0,33394833.0,208564.0
1,인도🇮🇳,인도,1.3,97.8,24431,1380004385,289782.0,-7388.0,33714241,21093.0,447699,337.0,32976760.0,28144.0
2,브라질🇧🇷,브라질,2.8,95.3,100592,212559417,410502.0,-6613.0,21366395,14423.0,594702,218.0,20361191.0,20818.0
3,영국🇬🇧,영국,1.8,80.7,113959,67886011,1346396.0,3904.0,7701715,37485.0,136208,40.0,6219111.0,33541.0
4,러시아🇷🇺,러시아,2.8,88.9,51151,145934462,623692.0,3339.0,7464708,21559.0,205531,852.0,6635485.0,17368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,마셜 제도🇲🇭,마셜,-,100.0,68,59190,0.0,NaN,4,NaN,0,NaN,4.0,NaN
218,바누아투🇻🇺,바누아투,25,75.0,13,307145,0.0,NaN,4,NaN,1,NaN,3.0,NaN
219,사모아🇼🇸,사모아,-,100.0,15,198414,0.0,NaN,3,NaN,0,NaN,3.0,NaN
220,세인트헬레나🇸🇭,세인트헬레나,-,100.0,329,6077,0.0,NaN,2,NaN,0,NaN,2.0,NaN
221,미크로네시아🇫🇲,미크로네시아,-,100.0,9,115023,0.0,NaN,1,NaN,0,NaN,1.0,NaN

In [62]:
country_code.head()

  국문(코로나보드) 영문(블룸버그)   나라        비고_뜻
0        가나    Ghana  NaN         NaN
1        가봉    Gabon  NaN         NaN
2      가이아나   Guyana  NaN         NaN
3       감비아   Gambia  NaN         NaN
4      과들루프      NaN  프랑스  Guadeloupe

In [63]:
df_corona = new_corona.merge(country_code, left_on='한글표기', 
                             right_on='국문(코로나보드)')

df_corona.head()

,국가,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,국문(코로나보드),영문(블룸버그),나라,비고_뜻
0,미국🇺🇸,미국,1.6,76.0,133095,331002651,9838383.0,-23963.0,43942335,187382.0,709119,2781.0,33394833.0,208564.0,미국,U.S.,NaN,NaN
1,인도🇮🇳,인도,1.3,97.8,24431,1380004385,289782.0,-7388.0,33714241,21093.0,447699,337.0,32976760.0,28144.0,인도,India,NaN,NaN
2,브라질🇧🇷,브라질,2.8,95.3,100592,212559417,410502.0,-6613.0,21366395,14423.0,594702,218.0,20361191.0,20818.0,브라질,Brazil,NaN,NaN
3,영국🇬🇧,영국,1.8,80.7,113959,67886011,1346396.0,3904.0,7701715,37485.0,136208,40.0,6219111.0,33541.0,영국,U.K.,NaN,NaN
4,러시아🇷🇺,러시아,2.8,88.9,51151,145934462,623692.0,3339.0,7464708,21559.0,205531,852.0,6635485.0,17368.0,러시아,Russia,NaN,NaN

In [64]:
df_corona.drop(['국가', '나라', '국문(코로나보드)', '나라','비고_뜻'], axis=1, inplace=True)
df_corona.head()

,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,영문(블룸버그)
0,미국,1.6,76.0,133095,331002651,9838383.0,-23963.0,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.
1,인도,1.3,97.8,24431,1380004385,289782.0,-7388.0,33714241,21093.0,447699,337.0,32976760.0,28144.0,India
2,브라질,2.8,95.3,100592,212559417,410502.0,-6613.0,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil
3,영국,1.8,80.7,113959,67886011,1346396.0,3904.0,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.
4,러시아,2.8,88.9,51151,145934462,623692.0,3339.0,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia

In [66]:
df_corona_all = df_corona.merge(vaccine, left_on='영문(블룸버그)', 
                             right_on='국가')

df_corona_all.head()

,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,영문(블룸버그),국가,백신접종수,백신보유율,1차접종,2차접종,일별접종수
0,미국,1.6,76.0,133095,331002651,9838383.0,-23963.0,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,인도,1.3,97.8,24431,1380004385,289782.0,-7388.0,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,India,876538600.0,32.0,46.7,16.8,7178901.0
2,브라질,2.8,95.3,100592,212559417,410502.0,-6613.0,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,Brazil,233261970.0,56.5,71.3,41.9,1317163.0
3,영국,1.8,80.7,113959,67886011,1346396.0,3904.0,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.,U.K.,93565470.0,70.0,73.0,67.1,63126.0
4,러시아,2.8,88.9,51151,145934462,623692.0,3339.0,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia,Russia,89865310.0,30.6,32.6,28.5,214966.0

In [68]:
df_corona_all.drop(['국가'], axis=1, inplace=True)
df_corona_all

,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,영문(블룸버그),백신접종수,백신보유율,1차접종,2차접종,일별접종수
0,미국,1.6,76.0,133095,331002651,9838383.0,-23963.0,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,인도,1.3,97.8,24431,1380004385,289782.0,-7388.0,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,876538600.0,32.0,46.7,16.8,7178901.0
2,브라질,2.8,95.3,100592,212559417,410502.0,-6613.0,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,233261970.0,56.5,71.3,41.9,1317163.0
3,영국,1.8,80.7,113959,67886011,1346396.0,3904.0,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.,93565470.0,70.0,73.0,67.1,63126.0
4,러시아,2.8,88.9,51151,145934462,623692.0,3339.0,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia,89865310.0,30.6,32.6,28.5,214966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,마카오,-,90.0,109,649335,7.0,3.0,70,3.0,0,NaN,63.0,NaN,Macau,649564.0,47.8,51.2,44.6,4123.0
174,몬트세랫,3.0,90.9,6611,4992,2.0,NaN,33,NaN,1,NaN,30.0,NaN,Montserrat,2871.0,28.7,29.7,27.8,2.0
175,사모아,-,100.0,15,198414,0.0,NaN,3,NaN,0,NaN,3.0,NaN,Samoa,149431.0,37.2,49.3,25.0,981.0
176,세인트헬레나,-,100.0,329,6077,0.0,NaN,2,NaN,0,NaN,2.0,NaN,St. Helena,7892.0,65.8,72.7,58.9,8.0
177,미크로네시아,-,100.0,9,115023,0.0,NaN,1,NaN,0,NaN,1.0,NaN,Micronesia,72085.0,34.7,41.6,-999.0,266.0

In [70]:
df_corona_all.sort_values(['2차접종'], ascending=False)

,한글표기,치명(%),완치(%),발생률,인구수,치료중합계,치료중1일,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,영문(블룸버그),백신접종수,백신보유율,1차접종,2차접종,일별접종수
161,지브롤터,1.8,97.1,164198,33691,62.0,7.0,5532,15.0,97,NaN,5373.0,8.0,Gibraltar,79502.0,116.9,117.4,116.40,30.0
110,몰디브,0.3,97.9,156470,540544,1577.0,13.0,84484,122.0,231,NaN,82676.0,109.0,Maldives,727664.0,97.8,105.3,90.30,759.0
33,포르투갈,1.7,95.5,104718,10196709,30547.0,-738.0,1067775,600.0,17962,7.0,1019266.0,1331.0,Portugal,15950862.0,77.6,86.9,84.00,23657.0
81,카타르,0.3,99.2,82082,2881053,1332.0,-26.0,236482,94.0,605,NaN,234545.0,120.0,Qatar,4702517.0,84.1,84.4,79.40,4415.0
108,싱가포르,0.1,84.0,15687,5850342,14283.0,1121.0,89539,1647.0,80,2.0,75176.0,524.0,Singapore,9306870.0,81.6,82.1,79.20,23733.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,베냉,0.7,75.3,1894,12123200,5510.0,NaN,22958,NaN,154,NaN,17294.0,NaN,Benin,226269.0,1.0,1.3,0.20,1696.0
149,남수단,1.1,96.8,1070,11193725,256.0,-142.0,11954,6.0,128,NaN,11570.0,148.0,South Sudan,103751.0,0.4,0.6,0.20,996.0
153,예멘,18.9,62.0,302,29825964,1715.0,NaN,8988,NaN,1703,NaN,5570.0,NaN,Yemen,322934.0,0.5,1.0,0.05,244.0
116,콩고민주공화국,1.9,54.3,635,89561403,24920.0,244.0,56862,245.0,1084,1.0,30858.0,NaN,DR Congo,134945.0,0.1,0.1,0.05,432.0
177,미크로네시아,-,100.0,9,115023,0.0,NaN,1,NaN,0,NaN,1.0,NaN,Micronesia,72085.0,34.7,41.6,-999.00,266.0

In [73]:
df_corona_all['발생률'] = df_corona_all['발생률'].astype('float32')
df_corona_all[['발생률','2차접종']].corr()

           발생률      2차접종
발생률   1.000000  0.266261
2차접종  0.266261  1.000000