In [1]:
pip install pykrx

Requirement already satisfied: pykrx in c:\users\hingu\anaconda3\lib\site-packages (1.0.22)
Requirement already satisfied: xlrd in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (2.0.1)
Requirement already satisfied: pandas in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (1.2.4)
Requirement already satisfied: numpy in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (1.20.1)
Requirement already satisfied: deprecated in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (1.2.13)
Requirement already satisfied: requests in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (2.25.1)
Requirement already satisfied: datetime in c:\users\hingu\anaconda3\lib\site-packages (from pykrx) (4.3)
Requirement already satisfied: pytz in c:\users\hingu\anaconda3\lib\site-packages (from datetime->pykrx) (2021.1)
Requirement already satisfied: zope.interface in c:\users\hingu\anaconda3\lib\site-packages (from datetime->pykrx) (5.3.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\hingu\anaconda3\lib\site-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hingu\anaconda3\lib\site-packages (from pandas->pykrx) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\hingu\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\hingu\anaconda3\lib\site-packages (from requests->pykrx) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hingu\anaconda3\lib\site-packages (from requests->pykrx) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hingu\anaconda3\lib\site-packages (from requests->pykrx) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hingu\anaconda3\lib\site-packages (from requests->pykrx) (2.10)
Requirement already satisfied: setuptools in c:\users\hingu\anaconda3\lib\site-packages (from zope.interface->datetime->pykrx) (52.0.0.post20210125)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from pykrx import stock
import numpy as np
import sys

In [21]:
sys.maxsize

9223372036854775807

In [22]:
preds = np.zeros((1, 3))

In [23]:
df = stock.get_market_net_purchases_of_equities_by_ticker("20200120", "20200330", "KOSPI", "개인")
print(df.head())

           종목명      매도거래량      매수거래량     순매수거래량          매도거래대금  \
티커
005930    삼성전자  373123034  515428571  142305537  19249018664300
005935   삼성전자우   51113102   83621255   32508153   2286868577500
000660  SK하이닉스   72753358   80886924    8133566   6256418553300
005380     현대차   31455234   39442579    7987345   3080380249500
006400   삼성SDI   17013492   18896289    1882797   4602356057000

                매수거래대금        순매수거래대금
티커
005930  26721381105800  7472362441500
005935   3797518021900  1510649444400
000660   6962753513000   706334959700
005380   3732270315000   651890065500
006400   5115167682000   512811625000

In [32]:
df = stock.get_index_ohlcv_by_date("20200120", "20210831", "1009")
df

                  시가        고가        저가        종가        거래량           거래대금
날짜
2020-01-20  10856.40  10870.04  10779.51  10806.40   39029901   349070909729
2020-01-21  10877.50  10939.92  10696.13  10708.17  234998804   614638506272
2020-01-22  10750.82  10996.71  10741.56  10991.04  119688749   662933828516
2020-01-23  11163.27  11353.88  11004.22  11240.92   85941342   730809407711
2020-01-28  11156.49  11357.34  11156.49  11306.86  205164875   975300374584
...              ...       ...       ...       ...        ...            ...
2021-08-25  20547.90  20598.22  20081.06  20439.15   39632634  1627064068130
2021-08-26  20402.23  20530.86  20215.41  20435.75   40918245  1681309898195
2021-08-27  20354.36  20645.20  20269.21  20614.87   21865036  1203940030115
2021-08-30  20686.00  20798.47  20388.18  20677.88   25783631  1495513371575
2021-08-31  20707.50  21112.84  20618.13  21075.21   22405441  1999356776805

[402 rows x 6 columns]

In [33]:
df.reset_index(inplace = True) 
df

,날짜,시가,고가,저가,종가,거래량,거래대금
0,2020-01-20,10856.40,10870.04,10779.51,10806.40,39029901,349070909729
1,2020-01-21,10877.50,10939.92,10696.13,10708.17,234998804,614638506272
2,2020-01-22,10750.82,10996.71,10741.56,10991.04,119688749,662933828516
3,2020-01-23,11163.27,11353.88,11004.22,11240.92,85941342,730809407711
4,2020-01-28,11156.49,11357.34,11156.49,11306.86,205164875,975300374584
...,...,...,...,...,...,...,...
397,2021-08-25,20547.90,20598.22,20081.06,20439.15,39632634,1627064068130
398,2021-08-26,20402.23,20530.86,20215.41,20435.75,40918245,1681309898195
399,2021-08-27,20354.36,20645.20,20269.21,20614.87,21865036,1203940030115
400,2021-08-30,20686.00,20798.47,20388.18,20677.88,25783631,1495513371575
401,2021-08-31,20707.50,21112.84,20618.13,21075.21,22405441,1999356776805

In [35]:
df.to_csv("의약품_거래량.csv", index=False)
df.to_excel("의약품_거래량.xlsx", index=False)

In [36]:
a = stock.get_index_ohlcv_by_date("20200120", "20210831", "1008")
a

                 시가       고가       저가       종가        거래량           거래대금
날짜
2020-01-20  4704.66  4753.00  4683.16  4698.60   40832227   864563392450
2020-01-21  4708.21  4713.38  4623.34  4623.75  115246085   896699020478
2020-01-22  4637.55  4671.57  4615.58  4671.54   51909655   666989842031
2020-01-23  4611.09  4631.28  4565.36  4575.39   36398479   694660157765
2020-01-28  4400.89  4418.88  4324.93  4334.88   93381001  1201474897885
...             ...      ...      ...      ...        ...            ...
2021-08-25  7133.58  7204.72  7117.51  7194.49   48430492  2307625032255
2021-08-26  7185.82  7225.38  7120.37  7135.30   33097233  1711697442063
2021-08-27  7108.94  7165.64  7050.04  7162.50   27719188  1507072024016
2021-08-30  7215.27  7234.02  7137.57  7157.92   38301736  1571379963640
2021-08-31  7152.36  7225.95  7109.81  7225.95   50899470  1955746128455

[402 rows x 6 columns]

In [45]:
a.reset_index(inplace = True) 
a

            날짜       시가       고가       저가       종가        거래량           거래대금
0   2020-01-20  4704.66  4753.00  4683.16  4698.60   40832227   864563392450
1   2020-01-21  4708.21  4713.38  4623.34  4623.75  115246085   896699020478
2   2020-01-22  4637.55  4671.57  4615.58  4671.54   51909655   666989842031
3   2020-01-23  4611.09  4631.28  4565.36  4575.39   36398479   694660157765
4   2020-01-28  4400.89  4418.88  4324.93  4334.88   93381001  1201474897885
..         ...      ...      ...      ...      ...        ...            ...
397 2021-08-25  7133.58  7204.72  7117.51  7194.49   48430492  2307625032255
398 2021-08-26  7185.82  7225.38  7120.37  7135.30   33097233  1711697442063
399 2021-08-27  7108.94  7165.64  7050.04  7162.50   27719188  1507072024016
400 2021-08-30  7215.27  7234.02  7137.57  7157.92   38301736  1571379963640
401 2021-08-31  7152.36  7225.95  7109.81  7225.95   50899470  1955746128455

[402 rows x 7 columns]

In [37]:
b = stock.get_index_ohlcv_by_date("20200120", "20210831", "1016")
b

                시가      고가      저가      종가       거래량          거래대금
날짜
2020-01-20  375.73  378.64  372.78  374.59  38245255  489722607411
2020-01-21  373.49  375.26  369.65  370.40  71253726  531466283243
2020-01-22  369.85  375.18  369.23  374.56  45163990  407668367117
2020-01-23  373.78  378.48  372.19  376.60  27727970  457828292718
2020-01-28  366.43  367.53  356.62  357.95  46617197  668302492100
...            ...     ...     ...     ...       ...           ...
2021-08-25  418.92  422.39  416.38  419.32  47291714  295171907692
2021-08-26  419.57  422.77  416.66  417.56  35844668  300211218199
2021-08-27  417.22  420.96  415.03  419.72  29346103  267766365692
2021-08-30  422.88  424.03  418.76  420.45  53463624  287037448835
2021-08-31  419.91  424.62  415.71  423.68  45391474  364119140351

[402 rows x 6 columns]

In [46]:
b.reset_index(inplace = True) 
b

            날짜      시가      고가      저가      종가       거래량          거래대금
0   2020-01-20  375.73  378.64  372.78  374.59  38245255  489722607411
1   2020-01-21  373.49  375.26  369.65  370.40  71253726  531466283243
2   2020-01-22  369.85  375.18  369.23  374.56  45163990  407668367117
3   2020-01-23  373.78  378.48  372.19  376.60  27727970  457828292718
4   2020-01-28  366.43  367.53  356.62  357.95  46617197  668302492100
..         ...     ...     ...     ...     ...       ...           ...
397 2021-08-25  418.92  422.39  416.38  419.32  47291714  295171907692
398 2021-08-26  419.57  422.77  416.66  417.56  35844668  300211218199
399 2021-08-27  417.22  420.96  415.03  419.72  29346103  267766365692
400 2021-08-30  422.88  424.03  418.76  420.45  53463624  287037448835
401 2021-08-31  419.91  424.62  415.71  423.68  45391474  364119140351

[402 rows x 7 columns]

In [38]:
kospi_200 = stock.get_index_ohlcv_by_date("20200120", "20210831", "1182")
kospi_200

                시가      고가      저가      종가        거래량            거래대금
날짜
2020-01-20  220.02  221.24  219.51  219.77   65508186   3234851407178
2020-01-21  219.97  220.32  217.75  217.79   56489016   2741129978142
2020-01-22  218.51  220.51  218.38  220.49   63994002   3223259668800
2020-01-23  219.59  220.19  218.48  219.10   71991658   3768261616939
2020-01-28  214.16  215.24  211.50  212.30  106508090   4833487191350
...            ...     ...     ...     ...        ...             ...
2021-08-25  312.23  313.97  310.82  313.00  153881014   7687660329883
2021-08-26  312.83  314.23  309.82  311.06  157611122   8096905445455
2021-08-27  309.53  312.08  308.43  311.41  117275061   6832309138682
2021-08-30  314.22  314.56  311.34  312.25  132953621   7088380970655
2021-08-31  312.12  317.65  310.55  317.54  146361765  10631783141236

[402 rows x 6 columns]

In [48]:
kospi_200.reset_index(inplace = True) 
kospi_200

            날짜      시가      고가      저가      종가        거래량            거래대금
0   2020-01-20  220.02  221.24  219.51  219.77   65508186   3234851407178
1   2020-01-21  219.97  220.32  217.75  217.79   56489016   2741129978142
2   2020-01-22  218.51  220.51  218.38  220.49   63994002   3223259668800
3   2020-01-23  219.59  220.19  218.48  219.10   71991658   3768261616939
4   2020-01-28  214.16  215.24  211.50  212.30  106508090   4833487191350
..         ...     ...     ...     ...     ...        ...             ...
397 2021-08-25  312.23  313.97  310.82  313.00  153881014   7687660329883
398 2021-08-26  312.83  314.23  309.82  311.06  157611122   8096905445455
399 2021-08-27  309.53  312.08  308.43  311.41  117275061   6832309138682
400 2021-08-30  314.22  314.56  311.34  312.25  132953621   7088380970655
401 2021-08-31  312.12  317.65  310.55  317.54  146361765  10631783141236

[402 rows x 7 columns]

In [40]:
c = stock.get_index_ohlcv_by_date("20200120", "20210831", "1154")
c

                 시가       고가       저가       종가       거래량           거래대금
날짜
2020-01-20  1164.89  1182.29  1163.91  1176.35   5350052   447721856114
2020-01-21  1181.05  1182.42  1163.42  1163.63   3937207   318341643155
2020-01-22  1170.27  1173.17  1159.65  1171.77   5848209   285796742730
2020-01-23  1161.94  1167.96  1148.18  1152.50   5346412   352315990340
2020-01-28  1120.69  1125.90  1100.29  1103.58   7875457   491718311500
...             ...      ...      ...      ...       ...            ...
2021-08-25  2019.78  2050.90  2015.63  2049.09  30171080  1799077227530
2021-08-26  2051.38  2062.21  2030.36  2038.18  15781405  1222099373100
2021-08-27  2029.07  2046.22  2019.52  2043.95  12791385  1157655170150
2021-08-30  2062.78  2067.96  2036.02  2043.42  11370350  1184724911325
2021-08-31  2042.75  2068.90  2032.95  2068.90  11982875  1690327590950

[402 rows x 6 columns]

In [49]:
c.reset_index(inplace = True) 
c

            날짜       시가       고가       저가       종가       거래량           거래대금
0   2020-01-20  1164.89  1182.29  1163.91  1176.35   5350052   447721856114
1   2020-01-21  1181.05  1182.42  1163.42  1163.63   3937207   318341643155
2   2020-01-22  1170.27  1173.17  1159.65  1171.77   5848209   285796742730
3   2020-01-23  1161.94  1167.96  1148.18  1152.50   5346412   352315990340
4   2020-01-28  1120.69  1125.90  1100.29  1103.58   7875457   491718311500
..         ...      ...      ...      ...      ...       ...            ...
397 2021-08-25  2019.78  2050.90  2015.63  2049.09  30171080  1799077227530
398 2021-08-26  2051.38  2062.21  2030.36  2038.18  15781405  1222099373100
399 2021-08-27  2029.07  2046.22  2019.52  2043.95  12791385  1157655170150
400 2021-08-30  2062.78  2067.96  2036.02  2043.42  11370350  1184724911325
401 2021-08-31  2042.75  2068.90  2032.95  2068.90  11982875  1690327590950

[402 rows x 7 columns]

In [41]:
d = stock.get_index_ohlcv_by_date("20200120", "20210831", "1155")
d

                 시가       고가       저가       종가       거래량           거래대금
날짜
2020-01-20  2477.31  2514.09  2477.31  2496.60  21048400  1379724601700
2020-01-21  2496.65  2504.42  2475.16  2477.04  16509670  1076468357800
2020-01-22  2476.17  2522.28  2473.39  2519.87  24269899  1552437988769
2020-01-23  2494.26  2510.17  2471.69  2477.70  22975239  1555147570576
2020-01-28  2408.59  2427.60  2398.55  2422.39  34497867  2212733391220
...             ...      ...      ...      ...       ...            ...
2021-08-25  3718.14  3737.43  3664.00  3708.71  30325147  2527253555000
2021-08-26  3732.90  3760.81  3680.71  3692.48  27282495  2301937089400
2021-08-27  3672.61  3705.07  3653.79  3684.78  22457026  1895367540750
2021-08-30  3726.32  3735.90  3668.52  3682.88  18237922  1572634625500
2021-08-31  3685.15  3785.58  3664.98  3785.58  36459792  3181346078507

[402 rows x 6 columns]

In [50]:
d.reset_index(inplace = True) 
d

            날짜       시가       고가       저가       종가       거래량           거래대금
0   2020-01-20  2477.31  2514.09  2477.31  2496.60  21048400  1379724601700
1   2020-01-21  2496.65  2504.42  2475.16  2477.04  16509670  1076468357800
2   2020-01-22  2476.17  2522.28  2473.39  2519.87  24269899  1552437988769
3   2020-01-23  2494.26  2510.17  2471.69  2477.70  22975239  1555147570576
4   2020-01-28  2408.59  2427.60  2398.55  2422.39  34497867  2212733391220
..         ...      ...      ...      ...      ...       ...            ...
397 2021-08-25  3718.14  3737.43  3664.00  3708.71  30325147  2527253555000
398 2021-08-26  3732.90  3760.81  3680.71  3692.48  27282495  2301937089400
399 2021-08-27  3672.61  3705.07  3653.79  3684.78  22457026  1895367540750
400 2021-08-30  3726.32  3735.90  3668.52  3682.88  18237922  1572634625500
401 2021-08-31  3685.15  3785.58  3664.98  3785.58  36459792  3181346078507

[402 rows x 7 columns]

In [42]:
e = stock.get_index_ohlcv_by_date("20200120", "20210831", "1157")
e

                 시가       고가       저가       종가      거래량          거래대금
날짜
2020-01-20  1149.97  1155.45  1129.13  1133.46  7700667  530265721450
2020-01-21  1132.16  1138.71  1119.54  1120.90  4646902  376550805970
2020-01-22  1122.04  1130.26  1118.79  1129.94  3858457  329746782955
2020-01-23  1113.98  1116.73  1109.57  1114.05  5122933  395637473800
2020-01-28  1083.17  1087.77  1064.02  1066.80  7711609  625615359910
...             ...      ...      ...      ...      ...           ...
2021-08-25  1161.50  1166.51  1156.45  1159.86  3529718  249948784106
2021-08-26  1154.66  1163.48  1149.43  1151.92  4753051  314418236620
2021-08-27  1151.46  1161.18  1146.41  1158.49  3845935  267018983580
2021-08-30  1166.18  1168.08  1157.79  1161.13  4201830  274064829770
2021-08-31  1160.25  1174.13  1155.31  1173.70  5408314  400882362960

[402 rows x 6 columns]

In [51]:
e.reset_index(inplace = True) 
e

            날짜       시가       고가       저가       종가      거래량          거래대금
0   2020-01-20  1149.97  1155.45  1129.13  1133.46  7700667  530265721450
1   2020-01-21  1132.16  1138.71  1119.54  1120.90  4646902  376550805970
2   2020-01-22  1122.04  1130.26  1118.79  1129.94  3858457  329746782955
3   2020-01-23  1113.98  1116.73  1109.57  1114.05  5122933  395637473800
4   2020-01-28  1083.17  1087.77  1064.02  1066.80  7711609  625615359910
..         ...      ...      ...      ...      ...      ...           ...
397 2021-08-25  1161.50  1166.51  1156.45  1159.86  3529718  249948784106
398 2021-08-26  1154.66  1163.48  1149.43  1151.92  4753051  314418236620
399 2021-08-27  1151.46  1161.18  1146.41  1158.49  3845935  267018983580
400 2021-08-30  1166.18  1168.08  1157.79  1161.13  4201830  274064829770
401 2021-08-31  1160.25  1174.13  1155.31  1173.70  5408314  400882362960

[402 rows x 7 columns]

In [43]:
f = stock.get_index_ohlcv_by_date("20200120", "20210831", "1158")
f

                 시가       고가       저가       종가       거래량           거래대금
날짜
2020-01-20  1383.65  1387.71  1371.58  1374.15   9010504   532802332081
2020-01-21  1372.60  1373.66  1357.69  1359.06   7440380   472769881730
2020-01-22  1363.77  1400.86  1360.83  1400.09  11926016   847095036960
2020-01-23  1413.01  1426.26  1402.41  1419.82  14278713  1016750483890
2020-01-28  1388.76  1394.60  1373.67  1377.57  16832732  1032452877495
...             ...      ...      ...      ...       ...            ...
2021-08-25  1816.39  1834.27  1807.08  1818.27   8668674   542219588957
2021-08-26  1816.76  1843.97  1816.76  1826.56   9053320   579897244000
2021-08-27  1815.75  1835.18  1810.88  1832.15   8168022   534863183330
2021-08-30  1853.73  1862.74  1844.46  1844.77   7943994   524608361940
2021-08-31  1845.35  1873.68  1832.33  1873.10  10868401   760071146616

[402 rows x 6 columns]

In [52]:
f.reset_index(inplace = True) 
f

            날짜       시가       고가       저가       종가       거래량           거래대금
0   2020-01-20  1383.65  1387.71  1371.58  1374.15   9010504   532802332081
1   2020-01-21  1372.60  1373.66  1357.69  1359.06   7440380   472769881730
2   2020-01-22  1363.77  1400.86  1360.83  1400.09  11926016   847095036960
3   2020-01-23  1413.01  1426.26  1402.41  1419.82  14278713  1016750483890
4   2020-01-28  1388.76  1394.60  1373.67  1377.57  16832732  1032452877495
..         ...      ...      ...      ...      ...       ...            ...
397 2021-08-25  1816.39  1834.27  1807.08  1818.27   8668674   542219588957
398 2021-08-26  1816.76  1843.97  1816.76  1826.56   9053320   579897244000
399 2021-08-27  1815.75  1835.18  1810.88  1832.15   8168022   534863183330
400 2021-08-30  1853.73  1862.74  1844.46  1844.77   7943994   524608361940
401 2021-08-31  1845.35  1873.68  1832.33  1873.10  10868401   760071146616

[402 rows x 7 columns]

In [44]:
g = stock.get_index_ohlcv_by_date("20200120", "20210831", "1160")
g

                 시가       고가       저가       종가       거래량           거래대금
날짜
2020-01-20  1842.62  1848.69  1830.33  1837.21   2890620   193382725320
2020-01-21  1847.96  1858.92  1800.47  1806.26   8453890   341888488390
2020-01-22  1813.51  1849.47  1810.08  1848.58   5510036   290757506000
2020-01-23  1867.29  1892.80  1847.87  1874.63   5181971   398504561270
2020-01-28  1862.25  1891.61  1860.95  1883.94   9161299   473835247140
...             ...      ...      ...      ...       ...            ...
2021-08-25  2720.29  2723.81  2676.54  2718.69  19787489  1369674474340
2021-08-26  2716.57  2741.25  2698.30  2715.53  12913601  1203924704760
2021-08-27  2711.22  2763.05  2699.91  2749.63   7546996  1003955876650
2021-08-30  2764.34  2795.45  2739.70  2765.33  15178080  1329799077900
2021-08-31  2764.99  2825.97  2750.26  2822.87  11984823  1831151120680

[402 rows x 6 columns]

In [53]:
g.reset_index(inplace = True) 
g

            날짜       시가       고가       저가       종가       거래량           거래대금
0   2020-01-20  1842.62  1848.69  1830.33  1837.21   2890620   193382725320
1   2020-01-21  1847.96  1858.92  1800.47  1806.26   8453890   341888488390
2   2020-01-22  1813.51  1849.47  1810.08  1848.58   5510036   290757506000
3   2020-01-23  1867.29  1892.80  1847.87  1874.63   5181971   398504561270
4   2020-01-28  1862.25  1891.61  1860.95  1883.94   9161299   473835247140
..         ...      ...      ...      ...      ...       ...            ...
397 2021-08-25  2720.29  2723.81  2676.54  2718.69  19787489  1369674474340
398 2021-08-26  2716.57  2741.25  2698.30  2715.53  12913601  1203924704760
399 2021-08-27  2711.22  2763.05  2699.91  2749.63   7546996  1003955876650
400 2021-08-30  2764.34  2795.45  2739.70  2765.33  15178080  1329799077900
401 2021-08-31  2764.99  2825.97  2750.26  2822.87  11984823  1831151120680

[402 rows x 7 columns]

In [56]:
h = stock.get_index_ohlcv_by_date("20200120", "20210831", "1027")
h

                 시가       고가       저가       종가        거래량            거래대금
날짜
2020-01-20  5535.14  5580.74  5529.67  5543.89  330749079   4020678989491
2020-01-21  5534.25  5554.60  5473.31  5478.78  560808712   3852726128921
2020-01-22  5466.80  5573.90  5457.84  5564.82  479485516   4923077727880
2020-01-23  5528.68  5547.65  5487.70  5497.52  405222639   5125848419144
2020-01-28  5347.64  5372.72  5302.19  5336.27  630140991   6526977869540
...             ...      ...      ...      ...        ...             ...
2021-08-25  7836.69  7868.83  7758.73  7826.95  353887621   8986205522642
2021-08-26  7846.11  7865.49  7767.06  7777.89  479330165   8498425735997
2021-08-27  7741.01  7811.41  7714.19  7784.28  331548069   7007965584821
2021-08-30  7857.19  7868.27  7785.74  7819.69  314046089   7181359456109
2021-08-31  7829.71  7973.65  7790.79  7973.65  433192740  10315200946986

[402 rows x 6 columns]

In [57]:
h.reset_index(inplace = True) 
h

            날짜       시가       고가       저가       종가        거래량            거래대금
0   2020-01-20  5535.14  5580.74  5529.67  5543.89  330749079   4020678989491
1   2020-01-21  5534.25  5554.60  5473.31  5478.78  560808712   3852726128921
2   2020-01-22  5466.80  5573.90  5457.84  5564.82  479485516   4923077727880
3   2020-01-23  5528.68  5547.65  5487.70  5497.52  405222639   5125848419144
4   2020-01-28  5347.64  5372.72  5302.19  5336.27  630140991   6526977869540
..         ...      ...      ...      ...      ...        ...             ...
397 2021-08-25  7836.69  7868.83  7758.73  7826.95  353887621   8986205522642
398 2021-08-26  7846.11  7865.49  7767.06  7777.89  479330165   8498425735997
399 2021-08-27  7741.01  7811.41  7714.19  7784.28  331548069   7007965584821
400 2021-08-30  7857.19  7868.27  7785.74  7819.69  314046089   7181359456109
401 2021-08-31  7829.71  7973.65  7790.79  7973.65  433192740  10315200946986

[402 rows x 7 columns]

In [58]:
i = stock.get_index_ohlcv_by_date("20200120", "20210831", "1014")
i

                 시가       고가       저가       종가       거래량          거래대금
날짜
2020-01-20  2397.16  2397.16  2341.97  2349.09  14223303   26423876799
2020-01-21  2352.15  2352.83  2303.12  2305.09   9524212   24417602032
2020-01-22  2314.78  2335.20  2311.99  2319.58   9434478   18243638500
2020-01-23  2319.24  2326.70  2291.68  2302.95   7909401   18921447598
2020-01-28  2210.75  2230.90  2196.34  2212.94  17940882   19340418024
...             ...      ...      ...      ...       ...           ...
2021-08-25  3173.34  3173.34  3112.55  3120.98   8247079  142194816020
2021-08-26  3140.61  3164.02  3117.68  3131.33   2837043   71240503040
2021-08-27  3126.13  3219.34  3096.72  3188.58   3183615   96390687180
2021-08-30  3195.48  3195.48  3085.36  3098.26   2506311   77016556460
2021-08-31  3102.54  3102.54  3015.84  3040.61   3022135   95373139020

[402 rows x 6 columns]

In [59]:
i.reset_index(inplace = True) 
i

            날짜       시가       고가       저가       종가       거래량          거래대금
0   2020-01-20  2397.16  2397.16  2341.97  2349.09  14223303   26423876799
1   2020-01-21  2352.15  2352.83  2303.12  2305.09   9524212   24417602032
2   2020-01-22  2314.78  2335.20  2311.99  2319.58   9434478   18243638500
3   2020-01-23  2319.24  2326.70  2291.68  2302.95   7909401   18921447598
4   2020-01-28  2210.75  2230.90  2196.34  2212.94  17940882   19340418024
..         ...      ...      ...      ...      ...       ...           ...
397 2021-08-25  3173.34  3173.34  3112.55  3120.98   8247079  142194816020
398 2021-08-26  3140.61  3164.02  3117.68  3131.33   2837043   71240503040
399 2021-08-27  3126.13  3219.34  3096.72  3188.58   3183615   96390687180
400 2021-08-30  3195.48  3195.48  3085.36  3098.26   2506311   77016556460
401 2021-08-31  3102.54  3102.54  3015.84  3040.61   3022135   95373139020

[402 rows x 7 columns]

In [60]:
j = stock.get_index_ohlcv_by_date("20200120", "20210831", "1005")
j

                 시가       고가       저가       종가       거래량          거래대금
날짜
2020-01-20  3534.71  3551.35  3494.72  3496.19  11017459   83422363534
2020-01-21  3502.08  3515.20  3481.73  3486.48  10817286   62047706647
2020-01-22  3493.45  3516.85  3477.50  3501.86   9369727   56624723190
2020-01-23  3482.84  3486.87  3463.87  3477.30   5881988   50731600375
2020-01-28  3417.01  3427.97  3356.73  3366.48  20939649  118594152164
...             ...      ...      ...      ...       ...           ...
2021-08-25  4251.13  4258.82  4219.14  4245.74   9710032   77703891975
2021-08-26  4241.24  4268.86  4204.11  4217.72  46626190   95935675456
2021-08-27  4207.71  4251.11  4191.78  4230.40  12727658   68278105554
2021-08-30  4263.75  4310.91  4262.14  4298.98  14916122   96110414796
2021-08-31  4284.06  4302.66  4252.25  4298.10  13806951   88381913145

[402 rows x 6 columns]

In [61]:
j.reset_index(inplace = True) 
j

            날짜       시가       고가       저가       종가       거래량          거래대금
0   2020-01-20  3534.71  3551.35  3494.72  3496.19  11017459   83422363534
1   2020-01-21  3502.08  3515.20  3481.73  3486.48  10817286   62047706647
2   2020-01-22  3493.45  3516.85  3477.50  3501.86   9369727   56624723190
3   2020-01-23  3482.84  3486.87  3463.87  3477.30   5881988   50731600375
4   2020-01-28  3417.01  3427.97  3356.73  3366.48  20939649  118594152164
..         ...      ...      ...      ...      ...       ...           ...
397 2021-08-25  4251.13  4258.82  4219.14  4245.74   9710032   77703891975
398 2021-08-26  4241.24  4268.86  4204.11  4217.72  46626190   95935675456
399 2021-08-27  4207.71  4251.11  4191.78  4230.40  12727658   68278105554
400 2021-08-30  4263.75  4310.91  4262.14  4298.98  14916122   96110414796
401 2021-08-31  4284.06  4302.66  4252.25  4298.10  13806951   88381913145

[402 rows x 7 columns]

In [63]:
k = stock.get_index_ohlcv_by_date("20200120", "20210831", "1015")
k

                 시가       고가       저가       종가        거래량          거래대금
날짜
2020-01-20  1532.02  1534.18  1519.81  1520.84   65566193  382286733389
2020-01-21  1520.97  1520.97  1503.62  1506.53   33357125  318439316621
2020-01-22  1515.21  1556.77  1509.56  1556.03   36619617  648540864514
2020-01-23  1577.22  1583.78  1561.18  1577.71   31427819  763142854901
2020-01-28  1539.87  1556.59  1534.32  1543.46   40984948  683267795026
...             ...      ...      ...      ...        ...           ...
2021-08-25  2196.44  2219.82  2176.03  2191.50   53610337  515952133578
2021-08-26  2188.31  2219.73  2188.31  2200.22   29093605  646503006245
2021-08-27  2184.31  2210.23  2179.71  2206.74   96852729  735105401413
2021-08-30  2234.90  2248.33  2223.75  2226.64   75585802  707432507967
2021-08-31  2233.34  2261.81  2215.91  2261.81  113477167  992173254263

[402 rows x 6 columns]

In [64]:
k.reset_index(inplace = True) 
k

            날짜       시가       고가       저가       종가        거래량          거래대금
0   2020-01-20  1532.02  1534.18  1519.81  1520.84   65566193  382286733389
1   2020-01-21  1520.97  1520.97  1503.62  1506.53   33357125  318439316621
2   2020-01-22  1515.21  1556.77  1509.56  1556.03   36619617  648540864514
3   2020-01-23  1577.22  1583.78  1561.18  1577.71   31427819  763142854901
4   2020-01-28  1539.87  1556.59  1534.32  1543.46   40984948  683267795026
..         ...      ...      ...      ...      ...        ...           ...
397 2021-08-25  2196.44  2219.82  2176.03  2191.50   53610337  515952133578
398 2021-08-26  2188.31  2219.73  2188.31  2200.22   29093605  646503006245
399 2021-08-27  2184.31  2210.23  2179.71  2206.74   96852729  735105401413
400 2021-08-30  2234.90  2248.33  2223.75  2226.64   75585802  707432507967
401 2021-08-31  2233.34  2261.81  2215.91  2261.81  113477167  992173254263

[402 rows x 7 columns]

In [65]:
l = stock.get_index_ohlcv_by_date("20200120", "20210831", "1018")
l

                시가      고가      저가      종가       거래량          거래대금
날짜
2020-01-20   92.51   92.91   91.85   92.44  28227896  117295065753
2020-01-21   92.66   93.52   92.36   92.78  19478778   95827952792
2020-01-22   92.91   93.42   92.52   93.15  14406556   89904485653
2020-01-23   92.64   92.86   91.74   92.26  12106755  115343222376
2020-01-28   90.19   90.61   88.70   89.19  14576116  100634380724
...            ...     ...     ...     ...       ...           ...
2021-08-25  125.70  126.37  125.04  126.02  10102392  127272001610
2021-08-26  126.06  126.88  125.03  125.95   9476281  128177512905
2021-08-27  125.29  127.34  124.87  126.77  20058032  173387581740
2021-08-30  128.29  132.62  128.27  131.89  56377943  560153959140
2021-08-31  132.75  134.41  131.61  134.35  24820469  360081841205

[402 rows x 6 columns]

In [66]:
l.reset_index(inplace = True) 
l

            날짜      시가      고가      저가      종가       거래량          거래대금
0   2020-01-20   92.51   92.91   91.85   92.44  28227896  117295065753
1   2020-01-21   92.66   93.52   92.36   92.78  19478778   95827952792
2   2020-01-22   92.91   93.42   92.52   93.15  14406556   89904485653
3   2020-01-23   92.64   92.86   91.74   92.26  12106755  115343222376
4   2020-01-28   90.19   90.61   88.70   89.19  14576116  100634380724
..         ...     ...     ...     ...     ...       ...           ...
397 2021-08-25  125.70  126.37  125.04  126.02  10102392  127272001610
398 2021-08-26  126.06  126.88  125.03  125.95   9476281  128177512905
399 2021-08-27  125.29  127.34  124.87  126.77  20058032  173387581740
400 2021-08-30  128.29  132.62  128.27  131.89  56377943  560153959140
401 2021-08-31  132.75  134.41  131.61  134.35  24820469  360081841205

[402 rows x 7 columns]

In [67]:
m = stock.get_index_ohlcv_by_date("20200120", "20210831", "1026")
m

                 시가       고가       저가       종가        거래량           거래대금
날짜
2020-01-20  1259.61  1265.28  1250.90  1253.08  100362448   478506887411
2020-01-21  1253.47  1258.43  1236.68  1238.19   81673918   416235244822
2020-01-22  1247.11  1258.64  1246.29  1254.03   32890598   388008146926
2020-01-23  1250.09  1252.88  1240.18  1247.15   27066791   375812985160
2020-01-28  1226.74  1233.33  1208.26  1212.42   40483037   538525793761
...             ...      ...      ...      ...        ...            ...
2021-08-25  2137.22  2156.72  2117.40  2135.81   34868646  1643650025108
2021-08-26  2123.92  2127.02  2084.24  2098.31   38511774  2082288844310
2021-08-27  2091.00  2111.94  2079.37  2103.65   53970155  2090834262336
2021-08-30  2120.49  2125.66  2109.00  2120.47   48589187  1530562626379
2021-08-31  2116.11  2154.87  2108.29  2154.87   64015820  2033598912283

[402 rows x 6 columns]

In [68]:
m.reset_index(inplace = True) 
m

            날짜       시가       고가       저가       종가        거래량           거래대금
0   2020-01-20  1259.61  1265.28  1250.90  1253.08  100362448   478506887411
1   2020-01-21  1253.47  1258.43  1236.68  1238.19   81673918   416235244822
2   2020-01-22  1247.11  1258.64  1246.29  1254.03   32890598   388008146926
3   2020-01-23  1250.09  1252.88  1240.18  1247.15   27066791   375812985160
4   2020-01-28  1226.74  1233.33  1208.26  1212.42   40483037   538525793761
..         ...      ...      ...      ...      ...        ...            ...
397 2021-08-25  2137.22  2156.72  2117.40  2135.81   34868646  1643650025108
398 2021-08-26  2123.92  2127.02  2084.24  2098.31   38511774  2082288844310
399 2021-08-27  2091.00  2111.94  2079.37  2103.65   53970155  2090834262336
400 2021-08-30  2120.49  2125.66  2109.00  2120.47   48589187  1530562626379
401 2021-08-31  2116.11  2154.87  2108.29  2154.87   64015820  2033598912283

[402 rows x 7 columns]

In [70]:
n = stock.get_index_ohlcv_by_date("20200120", "20210831", "1013")
n

                  시가        고가        저가        종가       거래량           거래대금
날짜
2020-01-20  22128.68  22431.76  22101.06  22271.47  59601742  1684300165047
2020-01-21  22155.54  22298.55  21921.39  21972.49  47244408  1307736059381
2020-01-22  21825.49  22395.35  21759.74  22318.85  60003257  1832429823708
2020-01-23  22033.40  22130.22  21780.85  21826.41  53223164  1789626457803
2020-01-28  21181.97  21326.77  20987.58  21192.38  69872304  2492058100334
...              ...       ...       ...       ...       ...            ...
2021-08-25  29029.18  29125.80  28544.67  28852.28  83514993  3227397928415
2021-08-26  29052.03  29131.94  28587.01  28597.32  79291769  2944153738527
2021-08-27  28462.40  28718.89  28281.36  28516.28  61534113  2460447995635
2021-08-30  28833.91  28891.72  28466.93  28576.97  61114104  2211869122870
2021-08-31  28643.60  29352.28  28446.36  29352.28  84346419  4141072412802

[402 rows x 6 columns]

In [71]:
n.reset_index(inplace = True) 
n

,날짜,시가,고가,저가,종가,거래량,거래대금
0,2020-01-20,22128.68,22431.76,22101.06,22271.47,59601742,1684300165047
1,2020-01-21,22155.54,22298.55,21921.39,21972.49,47244408,1307736059381
2,2020-01-22,21825.49,22395.35,21759.74,22318.85,60003257,1832429823708
3,2020-01-23,22033.40,22130.22,21780.85,21826.41,53223164,1789626457803
4,2020-01-28,21181.97,21326.77,20987.58,21192.38,69872304,2492058100334
...,...,...,...,...,...,...,...
397,2021-08-25,29029.18,29125.80,28544.67,28852.28,83514993,3227397928415
398,2021-08-26,29052.03,29131.94,28587.01,28597.32,79291769,2944153738527
399,2021-08-27,28462.40,28718.89,28281.36,28516.28,61534113,2460447995635
400,2021-08-30,28833.91,28891.72,28466.93,28576.97,61114104,2211869122870
401,2021-08-31,28643.60,29352.28,28446.36,29352.28,84346419,4141072412802

In [76]:
o = stock.get_index_ohlcv_by_date("20200120", "20210831", "1021")
o

                시가      고가      저가      종가        거래량           거래대금
날짜
2020-01-20  395.17  398.75  394.49  395.87   27575020   540681077894
2020-01-21  395.38  397.39  393.82  393.96   22329376   476629070862
2020-01-22  394.65  395.75  392.58  394.15   20506926   366648754607
2020-01-23  392.13  393.24  389.94  391.86   23441785   476657905039
2020-01-28  386.56  388.50  376.64  377.93   51840369   613599545774
...            ...     ...     ...     ...        ...            ...
2021-08-25  468.04  470.35  465.29  468.84  111857507  1479539552268
2021-08-26  470.40  475.04  467.91  471.02  130877790  1631247529187
2021-08-27  469.94  473.41  468.90  473.28   54627263   881881385169
2021-08-30  475.14  475.40  466.95  467.04   84498771  1196097549497
2021-08-31  465.43  473.34  461.92  473.34   53292809  1083305336015

[402 rows x 6 columns]

In [77]:
o.reset_index(inplace = True) 
o

            날짜      시가      고가      저가      종가        거래량           거래대금
0   2020-01-20  395.17  398.75  394.49  395.87   27575020   540681077894
1   2020-01-21  395.38  397.39  393.82  393.96   22329376   476629070862
2   2020-01-22  394.65  395.75  392.58  394.15   20506926   366648754607
3   2020-01-23  392.13  393.24  389.94  391.86   23441785   476657905039
4   2020-01-28  386.56  388.50  376.64  377.93   51840369   613599545774
..         ...     ...     ...     ...     ...        ...            ...
397 2021-08-25  468.04  470.35  465.29  468.84  111857507  1479539552268
398 2021-08-26  470.40  475.04  467.91  471.02  130877790  1631247529187
399 2021-08-27  469.94  473.41  468.90  473.28   54627263   881881385169
400 2021-08-30  475.14  475.40  466.95  467.04   84498771  1196097549497
401 2021-08-31  465.43  473.34  461.92  473.34   53292809  1083305336015

[402 rows x 7 columns]

In [74]:
p = stock.get_index_ohlcv_by_date("20200120", "20210831", "1020")
p

                시가      고가      저가      종가      거래량           거래대금
날짜
2020-01-20  338.35  341.67  337.10  339.18  6761048   138366907240
2020-01-21  339.69  340.55  338.23  340.17  3833747    56188095965
2020-01-22  340.50  342.29  339.09  342.29  2790040    69934289835
2020-01-23  340.94  341.16  338.58  340.07  3329787    76706553525
2020-01-28  332.89  334.87  330.90  332.97  4378367   130429499935
...            ...     ...     ...     ...      ...            ...
2021-08-25  412.55  417.29  408.94  410.75  9363203   142639099785
2021-08-26  414.40  417.84  407.13  408.17  5132773   150622544355
2021-08-27  408.91  409.22  403.77  404.74  5786534   118820292710
2021-08-30  409.72  410.35  404.69  407.22  4346467   148917845875
2021-08-31  408.51  420.22  405.53  414.09  8572159  1013847330785

[402 rows x 6 columns]

In [75]:
p.reset_index(inplace = True) 
p

            날짜      시가      고가      저가      종가      거래량           거래대금
0   2020-01-20  338.35  341.67  337.10  339.18  6761048   138366907240
1   2020-01-21  339.69  340.55  338.23  340.17  3833747    56188095965
2   2020-01-22  340.50  342.29  339.09  342.29  2790040    69934289835
3   2020-01-23  340.94  341.16  338.58  340.07  3329787    76706553525
4   2020-01-28  332.89  334.87  330.90  332.97  4378367   130429499935
..         ...     ...     ...     ...     ...      ...            ...
397 2021-08-25  412.55  417.29  408.94  410.75  9363203   142639099785
398 2021-08-26  414.40  417.84  407.13  408.17  5132773   150622544355
399 2021-08-27  408.91  409.22  403.77  404.74  5786534   118820292710
400 2021-08-30  409.72  410.35  404.69  407.22  4346467   148917845875
401 2021-08-31  408.51  420.22  405.53  414.09  8572159  1013847330785

[402 rows x 7 columns]

In [78]:
df.to_csv("의약품_거래량.csv", index=False)
df.to_excel("의약품_거래량.xlsx", index=False)

a.to_csv("화학_거래량.csv", index=False)
a.to_excel("화학_거래량.xlsx", index=False)

b.to_csv("유통업_거래량.csv", index=False)
b.to_excel("유통업_거래량.xlsx", index=False)

kospi_200.to_csv("kospi_200_거래량.csv", index=False)
kospi_200.to_excel("kospi_200_거래량.xlsx", index=False)

c.to_csv("의약품_거래량.csv", index=False)
c.to_excel("의약품_거래량.xlsx", index=False)

d.to_csv("정보기술_거래량.csv", index=False)
d.to_excel("정보기술_거래량.xlsx", index=False)

e.to_csv("코스피_200_생활소비재_거래량.csv", index=False)
e.to_excel("코스피_200_생활소비재_거래량.xlsx", index=False)

f.to_csv("코스피_200_경기소비재_거래량.csv", index=False)
f.to_excel("코스피_200_경기소비재_거래량.xlsx", index=False)

g.to_csv("코스피_200_헬스_거래량.csv", index=False)
g.to_excel("코스피_200_헬스_거래량.xlsx", index=False)

h.to_csv("제조업_거래량.csv", index=False)
h.to_excel("코스피_200_헬스_거래량.xlsx", index=False)

i.to_csv("의료정밀_거래량.csv", index=False)
i.to_excel("의료정밀_거래량.xlsx", index=False)

j.to_csv("음식료품_거래량.csv", index=False)
j.to_excel("음식료품_거래량.xlsx", index=False)

k.to_csv("운수장비_거래량.csv", index=False)
k.to_excel("운수장비_거래량.xlsx", index=False)

l.to_csv("건설업_거래량.csv", index=False)
l.to_excel("건설업_거래량.xlsx", index=False)

m.to_csv("서비스업_거래량.csv", index=False)
m.to_excel("서비스업_거래량.xlsx", index=False)

n.to_csv("전기전자_거래량.csv", index=False)
n.to_excel("전기전자_거래량.xlsx", index=False)

o.to_csv("금융업_거래량.csv", index=False)
o.to_excel("금융업_거래량.xlsx", index=False)

p.to_csv("통신업_거래량.csv", index=False)
p.to_excel("통신업_거래량.xlsx", index=False)